{% extends "layout.twig" %}

{% block content %}

<div class="page  page--default">
	<div class="site-container">


		{% include "snippets/headers/header--standard/header--standard.twig" %}


		<!-- Page Title -->
		<div class="page-title">
			<div class="site-content">
				{{ page.title }}
			</div>
		</div>

		<!-- Main Content -->
		<div id="main-scroll" class="main-content">
			<div class="content-container">
					{{zone('main')|raw}}
				</div>
			</div>
		</div>


		{% include "snippets/footers/footer--columns-3/footer--columns-3.twig" %}


	</div>
</div>

{% endblock %}
