{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<div class="page  page--default">

    {% include "snippets/features/feature__slideshow--fullscreen/feature__slideshow--fullscreen.twig" %}

</div>

{% endblock %}
