{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<div class="page  page--sidebar">


	<!-- Sidebar (Left) -->
	<div class="sidebar-options  sidebar-bg--light  sidebar-text--dark">
		{% include "snippets/sidebars/sidebar--standard.twig" %}
	</div>


	<!-- Main Content -->
	<div id="main-scroll" class="main-content">

		<!-- Feature -->
		<div class="feature-options  feature-height--medium  feature-alignment--middle-center  feature-overlay-type--box  feature-parallax--on">
			{{widget('feature', 'feature', {
			  'header': 'profile',
			  'strapline': 'profile',
			  'defaultBgImg': asset('images/feature-image1.jpg'),
			  'positionTopPercentage': '100',
			  'showBtn': true,
			  'buttonText': 'Button'
			})|raw}}
		</div>

		<!-- Zone Content -->
		<div class="zone-content">
			<div class="content-container">

				{{zone('main')|raw}}

			</div>
		</div>

	</div>


</div>

{% endblock %}
