{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<div class="page  page--standard">


	{% include "snippets/headers/header--standard/header--standard.twig" %}


	<!-- Feature -->
	<div class="feature-height--medium  feature-alignment--middle-center  feature-overlay-type--box  feature-parallax--on">
		{{widget('feature', 'feature', {
		  'header': 'profile',
		  'strapline': 'profile',
		  'defaultBgImg': asset('images/feature-image1.jpg'),
		  'positionTopPercentage': '100',
		  'showBtn': true,
		  'buttonText': 'Button'
		})|raw}}
	</div>


	{% include "snippets/rows/row--columns-3/row--columns-3.twig" %}
	{% include "snippets/rows/row--columns-3/row--columns-3--image.twig" %}


	<!-- Main Content -->
	<div id="main-scroll" class="main-content">
		<div class="content-container">
			{# {{zone('main')|raw}} #}
		</div>
	</div>


	{% include "snippets/footers/footer--columns-3/footer--columns-3.twig" %}


</div>

{% endblock %}
