{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<div class="page  page--standard">


	{% include "snippets/headers/header--standard-basket/header--standard-basket.twig" %}


	<!-- Feature -->
	<div class="feature-options  feature-height--medium  feature-alignment--middle-center  feature-overlay-type--box  feature-parallax--on">
		{{widget('feature', 'feature', {
		  'header': 'profile',
		  'strapline': 'profile',
		  'defaultBgImg': asset('images/feature-image1.jpg'),
		  'positionTopPercentage': '100',
		  'showBtn': true,
		  'buttonText': 'Button'
		})|raw}}
	</div>


	<!-- Row: Text Simple (Light) -->
	<div class="row-options  row-bg--dark  row-text--light">
		{% include "snippets/rows/row--text-simple/row--text-simple.twig" %}
	</div>

	<!-- Row: Heading (Image) -->
	<div class="row-options  row-bg--image  row-text--light">
		{% include "snippets/rows/row--heading/row--heading.twig" %}
	</div>

	<!-- Row: Gallery (3 Column) -->
	<div class="row-options  row-bg--light  row-text--dark  gallery-grid--3-columns">
		{% include "snippets/rows/row--gallery/row--gallery.twig" %}
	</div>

	<!-- Row: 2 Columns -->
	<div class="row-options">
		{% include "snippets/rows/row--columns-2/row--columns-2.twig" %}
	</div>

	<!-- Row: Text Simple (Light) -->
	<div class="row-options  row-bg--light  row-text--dark">
		{% include "snippets/rows/row--text-simple/row--text-simple.twig" %}
	</div>

	<!-- Row: 3 Columns (Image) -->
	<div class="row-options  row-bg--image  row-text--light">
		{% include "snippets/rows/row--columns-3/row--columns-3.twig" %}
	</div>


	<!-- Main Content -->
	<div id="main-scroll" class="main-content">
		<div class="content-container">
			{# {{zone('main')|raw}} #}
		</div>
	</div>


	<!-- Footer: Columns 3 (Light) -->
	<div class="row-options  row-bg--light  row-text--dark">
		{% include "snippets/footers/footer--columns-3/footer--columns-3.twig" %}
	</div>


</div>

{% endblock %}
