{% extends "layout.twig" %}

{% block content %}

<!-- Page Content -->
<div class="page  page--standard">
	<div class="bk-zone">

		{% include "snippets/headers/header--standard/header--standard.twig" %}


		<!-- Feature -->
		<div class="feature-options  feature-height--medium  feature-alignment--middle-center  feature-overlay-type--box  feature-parallax--on">
			{{widget('feature', 'feature', {
			  'header': 'profile',
			  'strapline': 'profile',
			  'defaultBgImg': asset('images/feature-image1.jpg'),
			  'positionTopPercentage': '100',
			  'showBtn': true,
			  'buttonText': 'Button'
			})|raw}}
		</div>


		<!-- Row: Text Simple -->
		<div class="row-options  row-bg--light  row-text--dark  row-alignment--left">
			{% include "snippets/rows/row--text-simple/row--text-simple.twig" %}
		</div>

		<!-- Row: Heading -->
		<div class="row-options  row-bg--image  row-text--light  row-alignment--center">
			{% include "snippets/rows/row--heading/row--heading.twig" %}
		</div>

		<!-- Row: Gallery -->
		<div class="row-options  row-bg--light  row-text--dark  row-alignment--right  gallery-grid--3-columns">
			{% include "snippets/rows/row--gallery/row--gallery.twig" %}
		</div>

		<!-- Row: 2 Columns -->
		<div class="row-options  row-alignment--left">
			{% include "snippets/rows/row--columns-2/row--columns-2.twig" %}
		</div>

		<!-- Row: Text Simple -->
		<div class="row-options  row-bg--light  row-text--dark  row-alignment--right">
			{% include "snippets/rows/row--text-simple/row--text-simple.twig" %}
		</div>

		<!-- Row: 3 Columns -->
		<div class="row-options  row-bg--image  row-text--light  row-alignment--center">
			{% include "snippets/rows/row--columns-3/row--columns-3.twig" %}
		</div>


		<!-- Footer: Columns 3 -->
		<div class="row-options  row-bg--light  row-text--dark  row-alignment--left">
			{% include "snippets/footers/footer--columns-3/footer--columns-3.twig" %}
		</div>

	</div>
</div>

{% endblock %}
