// -------------------------------------
// Snippet Template: Stylesheet
// -------------------------------------


#tdk-toolbar {
    display: none!important;
}




// -----------------------------
// #Imports
// -----------------------------


// #Template Imports (Required)
// -----------------------------


@import "@{templateCommon}/bk-less-framework.less";  // Framework
@import "@{templateLocal}/less/mixins.less";         // Mixins
@import "@{templateLocal}/less/variables.less";      // Variables



// #Snippet Imports
// -----------------------------


// Headers
@import "@{templateLocal}/snippets/headers/header--standard/header--standard.less";
@import "@{templateLocal}/snippets/headers/header--standard/header--standard-fullscreen.less";
@import "@{templateLocal}/snippets/headers/header--logo-top/header--logo-top.less";
@import "@{templateLocal}/snippets/headers/header--logo-center/header--logo-center.less";
@import "@{templateLocal}/snippets/headers/header--sidebar/header--sidebar.less";


// Features
@import "@{templateLocal}/snippets/features/feature--standard/feature--standard.less";
@import "@{templateLocal}/snippets/features/feature--fullscreen/feature--fullscreen.less";
@import "@{templateLocal}/snippets/features/feature--split/feature--split.less";
@import "@{templateLocal}/snippets/features/feature--test/feature--test.less";

@import "@{templateLocal}/snippets/features/feature__slideshow--fullscreen/feature__slideshow--fullscreen.less";
@import "@{templateLocal}/snippets/features/feature__slideshow--standard/feature__slideshow--standard.less";


// Footers
@import "@{templateLocal}/snippets/footers/footer--central/footer--central.less";
@import "@{templateLocal}/snippets/footers/footer--signup/footer--signup.less";
@import "@{templateLocal}/snippets/footers/footer--columns-2/footer--columns-2.less";
@import "@{templateLocal}/snippets/footers/footer--columns-3/footer--columns-3.less";


// Navigation
@import "@{templateLocal}/snippets/navigation/navigation-toggle.less";
@import "@{templateLocal}/snippets/navigation/nav--simple/nav--simple.less";
@import "@{templateLocal}/snippets/navigation/nav--sidebar/nav--sidebar.less";
@import "@{templateLocal}/snippets/navigation/nav--fullscreen/nav--fullscreen.less";
@import "@{templateLocal}/snippets/navigation/nav--slide/nav--slide.less";


// Rows
// @import "@{templateLocal}/snippets/rows/rows.less";
// @import "@{templateLocal}/snippets/rows/row--text-simple/row--text-simple.less";
// @import "@{templateLocal}/snippets/rows/row--heading/row--heading.less";
// @import "@{templateLocal}/snippets/rows/row--gallery/row--gallery.less";
// @import "@{templateLocal}/snippets/rows/row--columns-2/row--columns-2.less";
// @import "@{templateLocal}/snippets/rows/row--columns-3/row--columns-3.less";


// Widgets
// @import "@{templateLocal}/widgets/feature.less";
// @import "@{templateLocal}/widgets/twitter-feed.less";




// ------------------------------
// Site Styles
// ------------------------------


body {
    background-color: @color__body--background;
    height: 100%;
}


// Site Container
.site-container {
    background-color: @color__container--background;
    height: 100%;
    margin: 0 auto;
    max-width: @value__site-container--width;
    width: 100%;

    @media @tablet {
        max-width: 100%;
    }
}

// Content Container
.template-container {
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;

    // Flex
    .flex-display;
}




// Typography
// ------------------------------


h1, h2, h3, h4, p, a, span {
    -webkit-font-smoothing: antialiased;
}




// Main / Zone Content
// ------------------------------


.main-content,
.zone-content {
    position: relative;
}


// Page: Default
.page--default .main-content {
    padding: @value__global-spacing--desktop 0;

    @media @tablet {
        padding: @value__global-spacing--tablet 0;
    }
    @media @mobile {
        padding: @value__global-spacing--mobile 0;
    }
}
