
<!-- Footer: Three Columns -->
<footer class="template-row  template-footer  template-footer--columns-3">
    <div class="template-container">

        {{widget('content', 'footer-content', { content: '
            <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        '})|raw}}


        {{widget('profile', 'footer-address', {
            'profileType':'address'
        })|raw}}


        {{widget('profile', 'footer-social', { 'profileType':'socialicons' })|raw}}

    </div>
</footer>
