<!-- Footer: Central -->
<footer class="template-footer  template-footer--columns-3">
    <div class="content-container">
        <div class="row">
            <div class="footer-item  footer-item--left">
                {{widget('content', 'footer-content1', { content: '
                    <h4>Lorem Ipsum</h4>
                    <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                '})|raw}}
            </div>
        	<div class="footer-item  footer-item---middle">
        		{{widget('content', 'footer-content2', { content: '
                    <h4>Lorem Ipsum</h4>
                    <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                '})|raw}}
        	</div>
        	<div class="footer-item  footer-item--right">
                {{widget('content', 'footer-content3', { content: '
                    <h4>Lorem Ipsum</h4>
                '})|raw}}
                {{widget('profile', 'footer-profile1', { 'profileType':'socialicons' })|raw}}
        	</div>
        </div>
    </div>
</footer>
