// -----------------------------------
// Snippet Template: Rows
// -----------------------------------


// In: 'Snippets > Rows'


// -----------------------------
// Row / Widget Spacing
// -----------------------------


// Adds spacing for any single widget and
// responsive columns wrapper in the zone.
.bk-zone > .widget,
.responsivecolumns {
    width: 100%;
    max-width: @value__content-container--width;
    margin: 0 auto;
    padding: @value__global-spacing--desktop 0;

    @media @tablet {
        padding: @value__global-spacing--tablet 0;
    }
    @media @mobile {
        padding: @value__global-spacing--mobile 0;
    }
}

// Removes zone widget spacing for row widgets
.widget--zone-widget {
    margin-bottom: 0;
}

// Remove spacing when responsive columns
// and any widget is below a single widget
.widget + {
    .responsivecolumns,
    .widget {
        padding-top: 0;
    }
}




// -----------------------------
// #Row Options
// -----------------------------


// Row Alignment
// -----------------------------


// Left
.row-alignment--left {
    text-align: left;
}

// Right
.row-alignment--right {
    text-align: right;
}

// Center
.row-alignment--center {
    text-align: center;
}




// Row Backgrounds
// -----------------------------


// Row BG: Image
.row-bg--image {
    background-image: image('/images/row-images/row-image-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .template-row {
        background-color: hsla(hue(@color__row--background--dark), saturation(@color__row--background--dark), lightness(@color__row--background--dark), @color__row--background--opacity);
    }
}


// Row BG: Light
.row-bg--light .template-row {
    background-color: @color__row--background--light;
}


// Row BG: Dark
.row-bg--dark .template-row {
    background-color: @color__row--background--dark;
}




// Row Text
// -----------------------------


// Light
.row-text--light {
    h1, h2, h3, h4, p {
        color: white;
    }
    p {
        opacity: .7;
    }
}




// -----------------------------
// #Template Row Wrapper
// -----------------------------


.template-row-wrapper {
    max-width: @value__content-container--width;
    margin: 0 auto;
    padding: @value__global-spacing--desktop 0;
    .clearfix;

    @media @tablet {
        padding: @value__global-spacing--tablet 0;
    }
    @media @mobile {
        padding: @value__global-spacing--mobile 0;
    }
}




// -----------------------------
// #Template Row Title
// -----------------------------


.template-row-title {
    p:last-child,
    h1:last-child,
    h2:last-child,
    h3:last-child,
    h4:last-child  {
        padding-bottom: 0;
    }
}
