// -----------------------------------
// Snippet Template: Rows
// -----------------------------------


// In: 'Snippets > Rows'


// --------------------------------------

//  *** STYLE INFO ***

//  These are defualt styles for all
//  row snippets. Required.

// --------------------------------------




// Template Row
// -----------------------------


.row-options {
    position: relative;

    // Content Container
    .content-container {
        position: relative;
        z-index: 2;
    }

    // Widget Override
    .widget--zone-widget {
        margin-bottom: 0;
    }
}




// Template Row Background
// -----------------------------


.template-row-background {
    padding: @value__global-spacing--desktop 0;

    @media @tablet {
        padding: @value__global-spacing--tablet 0;
    }
    @media @mobile {
        padding: @value__global-spacing--mobile 0;
    }
}




// Row Backgrounds
// -----------------------------


// Row BG: Image
.row-bg--image {
    background-image: image('/images/row-images/row-image-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .template-row-background {
        background-color: hsla(hue(@color__row--background--dark), saturation(@color__row--background--dark), lightness(@color__row--background--dark), @color__row--background--opacity);
    }
}


// Row BG: Light
.row-bg--light .template-row-background {
    background-color: @color__row--background--light;
}


// Row BG: Dark
.row-bg--dark .template-row-background {
    background-color: @color__row--background--dark;
}




// Row Text
// -----------------------------


// Light
.row-text--light {
    h1, h2, h3, h4, p {
        color: white;
    }
    p {
        opacity: .7;
    }
}




// Template Row Title
// -----------------------------


.template-row-title {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;

    p:last-child,
    h1:last-child,
    h2:last-child,
    h3:last-child,
    h4:last-child  {
        padding-bottom: 0;
    }
}
