// -----------------------------------
// Snippet Template: Rows
// -----------------------------------


// In: 'Snippets > Rows'


// -----------------------------
// Row / Widget Spacing
// -----------------------------


// Adds spacing for responsive columns
// wrapper and single widget rows

// ** 'data-name' = Editor attribute
// ** 'data-widget-type' = TDK attribute

.responsivecolumns,
[data-widget-type="content"],
[data-name="content"],
[data-widget-type="line"],
[data-name="line"],
[data-widget-type="gallery"],
[data-name="gallery"],
[data-widget-type="image"],
[data-name="image"],
[data-widget-type="responsiveslideshow"],
[data-name="responsiveslideshow"],
[data-widget-type="button"],
[data-name="button"],
[data-widget-type="tweet"],
[data-name="tweet"],
[data-widget-type="clicktocall"],
[data-name="clicktocall"],
[data-widget-type="dropbox"],
[data-name="dropbox"],
[data-widget-type="facebooklike"],
[data-name="facebooklike"],
[data-widget-type="socialicons"],
[data-name="socialicons"],
[data-widget-type="singupform"],
[data-name="singupform"],
[data-widget-type="contactform"],
[data-name="contactform"],
[data-widget-type="advancedcontactform"],
[data-name="advancedcontactform"],
[data-widget-type="map"],
[data-name="map"],
[data-widget-type="youtube"],
[data-name="youtube"],
[data-widget-type="disqus"],
[data-name="disqus"],
[data-widget-type="twitter"],
[data-name="twitter"],
[data-widget-type="blogpostlist"],
[data-name="blogpostlist"],
[data-widget-type="blogpost"],
[data-name="blogpost"],
[data-widget-type="profile"],
[data-name="profile"] {
    width: 100%;
    max-width: @value__content-container--width;
    margin: 0 auto;
    padding: @value__global-spacing--desktop 0;

    @media @tablet {
        padding: @value__global-spacing--tablet 0;
    }
    @media @mobile {
        padding: @value__global-spacing--mobile 0;
    }
}


// Reset styles when widget is in row or column
.template-row,
.responsivecolumns {
    .widget {
        max-width: 100%;
        padding: 0;
    }
}


// Removes spacing below a single widget
.widget + {
    .responsivecolumns,
    .widget {
        padding-top: 0;
    }
}





// -----------------------------
// #Row Options
// -----------------------------


// Row Alignment
// -----------------------------


// Left
.row-alignment--left {
    text-align: left;
}

// Right
.row-alignment--right {
    text-align: right;
}

// Center
.row-alignment--center {
    text-align: center;
}




// Row Backgrounds
// -----------------------------


// Row BG: Image
.row-bg--image {
    background-image: image('/images/row-images/row-image-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    .template-row {
        background-color: hsla(hue(@color__row--background--dark), saturation(@color__row--background--dark), lightness(@color__row--background--dark), @color__row--background--opacity);
    }
}


// Row BG: Light
.row-bg--light .template-row {
    background-color: @color__row--background--light;
}


// Row BG: Dark
.row-bg--dark .template-row {
    background-color: @color__row--background--dark;
}




// Row Text
// -----------------------------


// Light
.row-text--light {
    h1, h2, h3, h4, p {
        color: white;
    }
    p {
        opacity: .7;
    }
}




// -----------------------------
// #Template Row Wrapper
// -----------------------------


.template-row-wrapper {
    max-width: @value__content-container--width;
    margin: 0 auto;
    padding: @value__global-spacing--desktop 0;
    .clearfix;

    @media @tablet {
        padding: @value__global-spacing--tablet 0;
    }
    @media @mobile {
        padding: @value__global-spacing--mobile 0;
    }
}




// -----------------------------
// #Template Row Title
// -----------------------------


.template-row-title {
    p:last-child,
    h1:last-child,
    h2:last-child,
    h3:last-child,
    h4:last-child  {
        padding-bottom: 0;
    }
}
