
// --------------------------------------
//  Snippet Template: Header Standard
// --------------------------------------



//  Layout
// --------------------------------------

//  1. Logo Widget (left)
//  2. Companyname Widget(left)
//  3. Navigation (right)

// --------------------------------------



.template-header--standard {
    background-color: @color__header--background;


    &.navigation--icon .template-container {

        @media @tablet {
            .flex-display;
            .align-items(flex-start);
        }
    }


    .template-container {
         padding: 30px;

        // Flex
        .align-items(center);
        .justify-content(space-between);

        @media @tablet {
            display: block;
        }
    }


    .header-item--brand + .header-item--navigation {
        padding-left: 20px;

        @media @tablet {
            padding-left: 0;
        }
    }


    // Header Item: Logo / Companyname
    .header-item--brand {

        // Flex
        .flex-display;
        .align-items(center);
        .flex(1 1 auto);
        .flex-wrap(wrap);
    }


    // Header Item: Navigation
    .header-item--navigation {
        .flex(1 0 auto);

        @media @mobile {
            .flex(initial);
        }
    }


    [data-widget-type="logo"] + [data-widget-type="companyname"] {
        margin-top: 6px;
    }


    // Logo
    .logo,
    .company-text {
        margin-right: 20px;

        @media @tablet {
            margin-right: 10px;
        }

        @media @mobile {
            margin-bottom: 10px;
        }


        &-image {
            max-width: 650px;

            @media @mobile {
                max-width: 100%;
            }
        }
    }
}
