
<!-- Header Standard - Navigation Full -->
<header class="template-header  template-header--standard  navigation--icon">
    <div class="template-container">
        <div class="header-item  header-item--brand">
            {{widget('logo', 'header-logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'header-companyname', {"business": "profile" })|raw}}
        </div>
        <div class="header-item  header-item--navigation">
            {% include "snippets/navigation/nav--fullscreen/nav--fullscreen.twig" %}
        </div>
    <div>
</header>
