<!-- Header: Standard -->
<header class="template-header  template-header--standard-reverse">
	<div class="header-item  header-item--navigation">
        {% include "snippets/navigation/nav--fullscreen/nav--fullscreen.twig" %}
	</div>
    <div class="header-item  header-item--logo-companyname">
        {{widget('logo', 'header-logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('companyname', 'header-companyname', {"business": "profile" })|raw}}
    </div>
</header>
