
<!-- Footer: Central -->
<footer class="template-footer  template-footer--columns-2">
    <div class="template-container">

        <!-- Profile -->
        {{widget('profile', 'footer-profile1', { 'profileType':'socialicons' })|raw}}

        <!-- Profile -->
        {{widget('profile', 'footer-profile2', { 'profileType':'copyright' })|raw}}

    </div>
</footer>
