
// ---------------------------------------
// Snippet Template: Fullscreen Navigation
// ---------------------------------------




// ------------------------------
//  Template Navigation
// ------------------------------


.template-navigation--fullscreen {
    .flex-display;
    .align-items(center);
    .justify-content(flex-end);



    // Navigation Body (Overlay)
    // ------------------------------


    // Closed
    .navigation-body {
        background-color: @color__navigation--background;
        content: "";
        display: block;
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        visibility: hidden;
        z-index: 0;
    }


    // Open
    &.navigation-open .navigation-body {
        display: block;
        opacity: 1;
        overflow: auto;
        right:0;
        top: 0;
        bottom: 0;
        left: 0;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        width: auto;
        visibility: visible;
        z-index: 999;
    }



    // Navigation List
    // ------------------------------


    // Closed
    .navigation-list {
        background-color: @color__navigation-list--background;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        text-align: center;

        // Flex
        .flex-display;
        .flex-direction(column);
        .justify-content(center);
    }


    // Open
    &.navigation-open .navigation-list:not(.navigation-list--children) {
        height: 100%;
        opacity: 1;
        visibility: visible;
    }



    // Navigation Item
    // ------------------------------


    .navigation-item {

        @media @tablet {
            display: block;
        }


        &:hover .navigation-list--children {
            display: none;
        }
    }



    // Navigation Link
    // ------------------------------


    .navigation-item {


        .item-name {
            color: @color__navigation--text;
            font-size: @font__navigation--font-size;
            line-height: @font__navigation--line-height;
            padding: 10px 0;

            @media @mobile {
                padding: 6px 0;
            }
        }


        // Selected / Hover / Active State
        &.selected .item-name,
        &:hover .item-name,
        &:focus .item-name {
            color: @color__navigation--text--hover;

            @media @tablet {
                color: @color__navigation--text--hover;
            }
        }
    }




    // Dropdown Menu
    // ------------------------------


    // Dropdown Arrow
    .item-name--parent:after {
        border: 5px solid transparent;
        border-top-color: @color__navigation--text;
        content: "";
        display: inline-block;
        margin-left: 6px;
        vertical-align: middle;
    }


    // Dropdown Menu List
    .navigation-list--children {
        background-color: @color__navigation-item--background;
        display: block;
        opacity: 0;
        overflow: hidden;
        height: 0;
        position: relative;
        transition: opacity 0.35s ease, visibility 0.35s ease;
        visibility: hidden;


        // Dropdown Item Link
        .item-name {
            padding: 10px 15px;
        }
    }


    // Dropdown Menu - Open
    .navigation-item.folder-open .navigation-list--children {
        display: block;
        height: auto;
        margin: 0 auto;
        opacity: 1;
        padding: 10px 0;
        width: auto;
        transition: opacity 0.35s ease, visibility 0.35s ease;
        visibility: visible;

        @media @mobile {
            padding: 0;
        }
    }




    //  Navigation Toggle Button
    // ------------------------------


    .navigation-toggle {
        display: none;
        visibility: hidden;
    }
}
