<div class="header-item  template-navigation  template-navigation--fullscreen">
    {{widget('extendednavigation', 'navigation', {"align":"right"})|raw}}
    {% include "snippets/navigation/navigation-toggle.twig" %}
</div>