
// -----------------------------------
// Snippet Template: Header Logo Center
// -----------------------------------


.template-header--logo-center {
    background-color: @color__header--background;

    // Flex
    .flex-display;
    .align-items(center);
    .justify-content(space-between);

    @media @tablet {
        .flex-wrap(wrap);
    }


    &.navigation--icon .template-container {
        .align-items(center);

        @media @tablet {
            .flex-display;
            .flex-wrap(wrap);
        }
    }


    // Container
    .template-container {
        padding: 30px;

        @media @tablet {
            display: block;
        }
    }


    // Header Item
    .header-item {
        .flex-basis(35%);
        .flex-grow(1);


        &--logo-companyname {
            .flex-basis(30%);

            @media @tablet {
                .flex-basis(100%);
                .flex-order(3);
            }
        }


        &:first-child {

            @media @tablet {
                .flex-basis(75%);
                .flex-order(1);
            }
        }

        &:last-child {

            @media @tablet {
                .flex-basis(25%);
                .flex-order(2);
            }
        }
    }


    // Header Item: Logo / Companyname
    .header-item--logo-companyname {
        text-align: center;

        @media @tablet {
            margin-top: 20px;
        }
    }


    &:not(.navigation--icon) .header-item--profile {

        @media @tablet {
            text-align: center;
        }
    }


    // Logo
    .logo {
        margin-bottom: 10px;
    }
}