<!-- Header: Standard -->
<header class="template-header  template-header--logo-center">
    <div class="header-item  header-item--profile">
        {{widget('profile', 'header-profile', { 'profileType':'email' })|raw}}
    </div>
	<div class="header-item  header-item--logo-companyname">
		{{widget('logo', 'header-logo', {"defaultlogo": asset('images/logo.png')})|raw}}
		{{widget('companyname', 'companyname', {"business": "profile" })|raw}}
	</div>
	<div class="header-item  header-item--navigation">
        {% include "snippets/navigation/nav--fullscreen-closed/nav--fullscreen-closed.twig" %}
	</div>
</header>
