// -----------------------------------
// Snippet Template: Header Logo Center
// -----------------------------------


// In: 'Snippets > Headers > Logo Center'


// -----------------------------------

//  *** LAYOUT INFO ***

//  1. Logo (center)
//  2. Company Name (center)
//  3. Navigation (center)

// -----------------------------------


.template-header--logo-center {
    .flex-display;
    .align-items(center);
    .justify-content(space-between);
    padding: @value__header--spacing;
    background-color: @color__header--background;

    @media @tablet {
        display: block;
    }


    // Header Item
    .header-item {
        width: 33.333%;

        @media @mobile {
            width: 100%;
            text-align: center;
        }
    }


    // Header Item: Profile
    .header-item--profile {
        @media @mobile {
            margin-bottom: 10px;
        }
    }

    // Header Item: Logo / Companyname
    .header-item--logo-companyname {
        text-align: center;
    }


    // Logo
    .logo {
        margin-bottom: 10px;
    }
}