<!-- Template Row: Heading -->
<section class="template-row  template-row--heading">
    <div class="template-row-wrapper">

        <div class="template-row-title">
            {{widget('content', 'row--heading__row-title-text1', { content: '
                <h1>Lorem Ipsum Dolor Alam Thoa</h1>
            '})|raw}}

            <div class="template-row-button">
                {{widget('button', 'row--heading__row-button1', {
                    'text': 'Call to Action'
                })|raw}}
            </div>
        </div>

    </div>
</section>
