
<!-- Footer - Central -->
<footer class="template-footer  template-footer--central">
    <div class="template-container">

        <!-- Profile -->
    	{{widget('profile', 'footer-profile1', { 'profileType':'address' })|raw}}

        <!--  Profile -->
        {{widget('profile', 'footer-profile2', { 'profileType':'copyright' })|raw}}

    </div>
</footer>
