<!-- Template Row: Text Simple -->
<section class="template-row  template-row--text-simple">
    <div class="template-row-background">
        <div class="content-container">

            <div class="template-row-title">
                {{widget('content', 'row--text-simple__row-title-text1', { content: '
                    <h2>Lorem Ipsum Dolor</h2>
                    <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                '})|raw}}
            </div>

        </div>
    </div>
</section>
