<!-- Template Row: Text Simple -->
<section class="template-row  template-row--text-simple">
    <div class="template-row-background">
        <div class="content-container">

            <div class="template-row-title">
                {{widget('content', 'row--text-simple__row-title-text1', { content: '
                    <h2>Lorem Ipsum Dolor</h2>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.</p>
                '})|raw}}
            </div>

        </div>
    </div>
</section>
