
<!-- Footer - Central -->
<footer class="template-footer  template-footer--central">
    <div class="template-container">

        <!-- Profile -->
        {{widget('signupform', 'emailsignup', {})|raw}}

        <!--  Profile -->
        {{widget('profile', 'footer-profile2', { 'profileType':'copyright' })|raw}}

    </div>
</footer>
